/*
* @Author: YouJDP
* @Date:   2018-02-26 12:36:05
* @Last Modified by:   YouJDP
* @Last Modified time: 2018-02-26 12:45:01
*/

.footer{
	padding-bottom: 10px;
}

.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}